---
import { getCollection, getEntry } from 'astro:content';

import Layout from '@layouts/Layout.astro';
import ProfileCard from '@components/features/blog/ProfileCard.astro';

export async function getStaticPaths() {
  const authors = await getCollection('authors');
  return authors.map((author) => ({
    params: { author: author.id },
  }));
}

const { author: authorId } = Astro.params;
const authorEntry = await getEntry('authors', authorId);
const author = authorEntry.data;
---

<Layout>
  <Fragment slot="head">
    <title>{author.name} のプロフィール | 情報研究会 CACTUS</title>
    <meta property="og:type" content="article" />
  </Fragment>
  <div class="body">
    <ProfileCard {author} />
    <br />
    <a href="/blog/authors">一覧に戻る</a>
  </div>
</Layout>

<style>
  .body {
    margin: 0 auto;
    max-width: 1300px;
    padding: 2em;
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px) {
    .body {
      padding: 0;
    }
  }
</style>
