---
const { data, slug } = Astro.props;

console.log(data);
const coverImage: string = data.coverImage;
const title: string = data.title;
---

<div class="card">
    <a href={`/blog/${slug}`}>
        <div class="card-image">
            <img src={coverImage} alt="cover" />
        </div>
        <div class="card-content">
            <h2>{title}</h2>
        </div>
    </a>
</div>
<style>
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid #e5e7eb;
        border-radius: 1rem;
        margin: 10px;
    }
    .card-image {
        border-bottom: 1px solid #e5e7eb;
    }
    .card-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-content {
        padding: 10px;
    }
    h2 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .button {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 2rem;
        text-decoration: none;
        color: #111827;
    }
    img {
        height: 1em;
    }
</style>
