:root {
  --color-cactus-rgb: 70, 189, 76;
  --color-cactus: rgb(var(--color-cactus-rgb));

  --color-cactus-dark-rgb: 55, 150, 60;
  --color-cactus-dark: rgb(var(--color-cactus-dark-rgb));

  --color-background-light: #f5f6f6;
  --color-background-white: #ffffff;
  --color-border-light: #e0e0e0;
  --color-text-primary: #222222;
  --color-text-secondary: #444444;

  --max-content-width: 1300px;

  --header-height-lg: 93px;
  --header-height-md: 81px;
  --header-height-sm: 75px;
}