---
import Layout from "@layouts/Layout.astro";
import { sortedblogEntriesList } from "@utils";
import BlogCard from "@components/features/blog/BlogCard.astro";

import type { GetStaticPathsResult } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  blog: CollectionEntry<"blog">[];
  originalCategory: string;
}

export async function getStaticPaths() {
  const paths: GetStaticPathsResult = [];

  const uniqueCategories = new Set<string>(
    sortedblogEntriesList.map((blog) => blog.data.category),
  );

  for (const category of uniqueCategories) {
    const filteredBlog = sortedblogEntriesList.filter(
      (blog) => blog.data.category === category,
    );

    const encodedCategory = encodeURIComponent(category);
    paths.push({
      params: { category: encodedCategory },
      props: { blog: filteredBlog, originalCategory: category },
    });

    // エンコードされていない場合のpathも生成
    if (category !== encodedCategory) {
      paths.push({
        params: { category },
        props: { blog: filteredBlog, originalCategory: category },
      });
    }
  }

  return paths;
}

const { category } = Astro.params;
const { blog } = Astro.props;
---

<Layout title={`カテゴリ: ${category}の記事 | 情報研究会 CACTUS`}>
  <Fragment slot="head">
    <meta property="og:type" content="article" />
  </Fragment>

  <div class="body">
    <h1>Blog</h1>
    <!-- <a href="/blog/categories">カテゴリ一覧へ</a> -->
    <p>カテゴリ: {category} の記事一覧</p>
    <div class="container">
      {
        blog.map((blogEntry) => (
          <BlogCard slug={blogEntry.slug} blog={blogEntry.data} />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .body {
    margin: 0 auto;
    max-width: 950px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
</style>
