---
import Layout from '@layouts/Layout.astro';
import { sortedblogEntriesList } from '@utils';
import BlogCard from '@components/features/blog/BlogCard.astro';

export async function getStaticPaths() {
  const uniqueCategories: string[] = [
    ...new Set(sortedblogEntriesList.map((blog) => blog.data.category)),
  ];

  return uniqueCategories.map((category) => {
    const filteredBlog = sortedblogEntriesList.filter(
      (blog) => blog.data.category === category
    );
    
    return {
      params: { category: category },
      props: { blog: filteredBlog },
    };
  });
}

const { category } = Astro.params;
const { blog } = Astro.props;
---

<Layout>
  <Fragment slot="head">
    <title>カテゴリ: {category}の記事 | 情報研究会 CACTUS</title>
    <meta property="og:type" content="article" />
  </Fragment>
  <div class="body">
    <h1>Blog</h1>
    <!-- <a href="/blog/categories">カテゴリ一覧へ</a> -->
    <p>カテゴリ: {category} の記事一覧</p>
    <div class="container">
      {
        blog.map((blogEntry) => (
          <BlogCard slug={blogEntry.slug} blog={blogEntry.data} />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .body {
    margin: 0 auto;
    max-width: 950px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
</style>
