---
import Layout from "@layouts/Layout.astro";
import Twitter from "@components/Twitter.astro";
import BasicButton from "@components/BasicButton.astro";
---

<Layout>
    <Fragment slot="head">
        <title>404 | 情報研究会 CACTUS</title>
    </Fragment>
    <div class="body">
        <p>ページがないよ</p>
    </div>
</Layout>

<style>
    .body {
        text-align: center;
        height: 100vh;
    }
</style>
