---
import Layout from "@layouts/Layout.astro";
---

<Layout>
    <Fragment slot="head">
        <title>CACTUSについて | 情報研究会 CACTUS</title>
    </Fragment>
    <div class="content">
        <h1>🌵CACTUSについて🌵</h1>
        <p>
            情報研究会
            CACTUSは、宇都宮大学公認団体のプログラミングサークルです。
        </p>
        <p>ゆるい雰囲気でのプログラミング・創作を行なっています。</p>
        <p>
            毎年11月に開催される大学祭「峰が丘祭」でのゲーム展示のほか、学内での勉強会なども行っています。
        </p>
    </div>
</Layout>

<style>
    .content {
        text-align: center;
        height: 100vh;
    }
</style>
