---
import Layout from "@layouts/Layout.astro";

import ogpImage from "@assets/noimage.png";
---

<Layout title="制作したゲーム | 情報研究会 CACTUS">
    <Fragment slot="head">
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary_large_image" />
		<meta property="og:title" content="GAME | 情報研究会 CACTUS" />
		<meta property="og:image" content={ogpImage.src} />
    </Fragment>
    
    <h1>GAMES</h1>
    <div class="content">⛏️工事中...</div>
</Layout>

<style>
    .content {
        text-align: center;
    }
</style>
