---
import Layout from "@layouts/Layout.astro";
---

<Layout title="制作したゲーム | 情報研究会 CACTUS">
    <Fragment slot="head">
        <meta property="og:type" content="website" />
    </Fragment>
    
    <h1>GAMES</h1>
    <div class="content">⛏️工事中...</div>
</Layout>

<style>
    .content {
        text-align: center;
    }
</style>
