---
import Layout from "@layouts/Layout.astro";
import Twitter from "@components/Twitter.astro";
import BasicButton from "@components/BasicButton.astro";
---

<Layout>
	<Fragment slot="head">
		<title>情報研究会 CACTUS</title>
	</Fragment>
	<div class="body">
		<h1>CACTUS Demo site</h1>
		<p>情報研究会 CACTUSへようこそ！</p>
		<p>このサイトは、CACTUS公式サイトのデモバージョンです。</p>
		<BasicButton buttonText="もっと知る" link="/about" />
		<div class="twitter">
			<Twitter url="https://twitter.com/uu_cactus" />
		</div>
	</div>
</Layout>

<style>
	.body {
		text-align: center;
	}
	.twitter {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px;
	}
</style>
