---
import { Image } from 'astro:assets';
import arrowRight from '@assets/icons/arrow-right-solid.svg';

interface Props {
    buttonText: string;
    link: string;
}

const { buttonText, link } = Astro.props;
---

<div class="content">
    <a href={link} class="button">
        <div class="text">
            {buttonText}
        </div>
        <div class="img-container">
            <Image src={arrowRight} alt="right arrow" class="img" width={30} height={30} />
        </div>
    </a>
</div>

<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .text {
        display: inline-block;
        text-align: center;
        font-size: 1em;
    }
    .button {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
        color: #111827;
    }
    .img-container {
        display: inline-block;
    }
    .img {
        height: 1em;
    }
</style>
