---
import Layout from "@layouts/Layout.astro";
import { sortedblogEntriesList } from "@utils";
import BlogCard from "@components/features/blog/BlogCard.astro";

import type { GetStaticPathsResult } from "astro";
import type { CollectionEntry } from "astro:content";
import ReturnButton from "@components/ReturnButton.astro";

interface Props {
  blog: CollectionEntry<"blog">[];
  originalTag: string;
}

export async function getStaticPaths() {
  const paths: GetStaticPathsResult = [];

  const uniqueTags = new Set<string>(
    sortedblogEntriesList.flatMap((blog) => blog.data.tags),
  );

  for (const tag of uniqueTags) {
    const filteredBlog = sortedblogEntriesList.filter((blog) =>
      blog.data.tags.includes(tag),
    );

    const encodedTag = encodeURIComponent(tag);
    paths.push({
      params: { tag: encodedTag },
      props: { blog: filteredBlog, originalTag: tag },
    });

    // エンコードされていない場合のpathも生成
    if (tag !== encodedTag) {
      paths.push({
        params: { tag },
        props: { blog: filteredBlog, originalTag: tag },
      });
    }
  }

  return paths;
}

const { blog, originalTag } = Astro.props;
---

<Layout title={`${originalTag}の記事 | 情報研究会 CACTUS`}>
  <Fragment slot="head">
    <meta property="og:type" content="article" />
  </Fragment>

  <div class="body">
    <h1>Blog</h1>
    <p>#{originalTag} のタグが付いた記事一覧</p>
    <div class="container">
      {
        blog.map((blogEntry) => (
          <BlogCard slug={blogEntry.slug} blog={blogEntry.data} />
        ))
      }
    </div>

    <div class="footer">
      <ReturnButton href="/blog/tags">タグ一覧へ</ReturnButton>
    </div>
  </div>
</Layout>

<style>
  .body {
    margin: 0 auto;
    max-width: 950px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }

  .footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
</style>
