---
import Layout from '@layouts/Layout.astro';
import { sortedblogEntriesList } from '@utils';
import BlogCard from '@components/features/blog/BlogCard.astro';

export async function getStaticPaths() {
  const sortedBlogEntries = sortedblogEntriesList;

  const uniqueTags: string[] = [
    ...new Set(sortedBlogEntries.flatMap((blog) => blog.data.tags)),
  ];

  return uniqueTags.map((tag) => {
    const filteredBlog = sortedBlogEntries.filter((blog) =>
      blog.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { blog: filteredBlog },
    };
  });
}

// 記事の中にタグが含まれていないとから文字列を渡してしまい，エラーになるので，その対策が必要

const { tag } = Astro.params;
const { blog } = Astro.props;
---

<Layout title={`${tag}の記事 | 情報研究会 CACTUS`}>
  <Fragment slot="head">
    <meta property="og:type" content="article" />
  </Fragment>

  <div class="body">
    <h1>Blog</h1>
    <a href="/blog/tags">タグ一覧へ</a>
    <p>#{tag} のタグが付いた記事一覧</p>
    <div class="container">
      {
        blog.map((blogEntry) => (
          <BlogCard slug={blogEntry.slug} blog={blogEntry.data} />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .body {
    margin: 0 auto;
    max-width: 950px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
</style>
