<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <slot name="head" />

        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="icon" href="/favicon.ico" sizes="32x32" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>
    <body>
        <div>
            <slot />
        </div>
    </body>
</html>

<style>
    html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Noto Sans JP", sans-serif;
	}
</style>
