---
import Layout from './Layout.astro';
import BlogHeader from '@components/features/header/BlogHeader.astro';
import ReturnButton from '@components/ReturnButton.astro';

import type { BlogSchema } from '@config';

interface Props {
    frontmatter: BlogSchema;
}

const { frontmatter } = Astro.props;

---

<Layout>
	<slot name="head" slot="head" />

    <article>
        <div class="header">
            <BlogHeader frontmatter={frontmatter} />
        </div>

        <div class="content">
            <slot />
        </div>

        <div class="footer">
            <ReturnButton href="/blog">ブログ一覧へ</ReturnButton>
        </div>
    </article>
</Layout>

<style>
    article {
        margin: 0 auto;
        max-width: 850px;
    }

    .header {
        margin-bottom: 1rem;
    }

    .footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }


    /* markdownの中身のスタイル */
    
    .content :global(h1) {
        margin: .8em 0;
        font-size: 1.65em;
        padding-bottom: .3em;
        border-bottom: 1px solid #d3d3d3;
    }

    .content :global(img) {
        max-width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .content :global(figcaption) {
        text-align: center;
        margin-top: -0.5rem;
    }

    .content :global(code) {
        /* padding: 10px; */
    }
</style>
