---
import Base from "./Base.astro";
---

<Base>
	<slot name="head" slot="head" />
	<div>
		<slot name="header" />
	</div>
	<div>
		<slot name="content" />
	</div>
	<div>
		<slot name="footer" />
	</div>
</Base>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
