---
import Base from "./Base.astro";
import Header from '@components/features/header/Header.astro';
import Footer from '@components/features/footer/Footer.astro';

//TODO - propsでタイトルを受け取る 他のheaderはslotから
---

<Base>
	<slot name="head" slot="head" />

	<Header />

	<main>
		<slot />
	</main>

	<Footer />
</Base>

<style>
	main {
		min-height: 100vh;
		padding: 15px;
	}
</style>
