.button {
  /* display: none; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 100;
}

.button img {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  z-index: 100;
  background-color: transparent;
}

.background {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 163, 61, 0.98);
  z-index: 99;
  transition: top 0.35s ease-in-out;
}

.background.open {
  top: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.container hr {
  width: 60%;
  border: 3px solid rgb(41, 126, 49);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: #0c2509;
  margin: 1rem;
}

.nav a:hover {
  color: #369e40;
}