---
import { Image } from "astro:assets";
import HeaderNav from "./HeaderNav.astro";

import { variables } from '@styles/variables';
import logo from "@assets/logos/cactus/header.webp";
---

<header>
    <div class="center">
        <div class="logo">
            <a href="/">
                <Image
                    src={logo}
                    alt="CACTUS logo"
                    width={875}
                    height={250}
                    class="logo-img"
                />
            </a>
        </div>
    </div>
    <div class="nav">
        <HeaderNav />
    </div>
</header>

<style define:vars={{ ...variables }}>
    header {
        background-color: var(--cactus);
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .logo {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 7px 0;
        margin-left: 25px;
    }

    .logo a {
        display: flex;
    }

    .logo-img {
        width: 170px;
        height: auto;
    }

    .center {
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    @media (max-width: 768px) {
        .logo {
            margin: 3px 14px;
        }

        .logo-img {
            width: 130px;
            z-index: 110;
        }
    }
</style>
