<div class="nav-container">
    <div class="header-content">
        <a href="/about">ABOUT</a>
    </div>
    <div class="header-content">
        <a href="/game">GAME</a>
    </div>
    <div class="header-content">
        <a href="/blog">BLOG</a>
    </div>
</div>

<style>
    .nav-container {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: #31a33d;
    }

    .nav-container a {
        text-decoration: none;
        color: #111827;
        font-weight: bold;
    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    /* .header-content:hover {
        background-color: #d1d5db;
        border-radius: 5px;
    } */
</style>
