<div class="nav-container">
    <div class="header-content">
        <a href="/about">ABOUT</a>
    </div>
    <div class="header-content">
        <a href="/blog">BLOG</a>
    </div>
    <div class="header-content">
        <a href="/game">GAME</a>
    </div>
</div>

<style>
    .nav-container {
        display: flex;
        justify-content: space-around;
        background-color: #31a33d;
        padding-right: 1.5rem;
    }

    .nav-container a {
        text-decoration: none;
        color: #0c2509;
        font-weight: bold;
        font-size: 1.15rem;
        margin: 1rem;
    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.5rem;
    }

    .header-content:hover {
        background-color: #369e40;
        border-radius: 8px;
    }
</style>
