---
import Hamburger from './Hamburger';

export const links: { href: string, label: string }[] = [
  { href: '/about', label: 'ABOUT' },
  { href: '/blog', label: 'BLOG' },
  { href: '/game', label: 'GAME' },
];
---
<div class="nav-container">
  <div class="hamburger">
    <Hamburger {links} client:load />
  </div>

  <nav class="menu">
    {links.map((link) => (
      <div class="link">
        <a href={link.href}>{link.label}</a>
      </div>
    ))}
  </nav>
</div>

<style>
  .nav-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-cactus);
  }

  .hamburger {
    display: none;

    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 1.0rem;
  }

  .menu {
    display: flex;
    gap: 3rem;
    margin-right: 1.5rem;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link a {
    text-decoration: none;
    color: #0c2509;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem;
  }

  .header-content:hover {
    background-color: #369e40;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }

    .menu {
      display: none;
    }
  }
</style>
